<!DOCTYPE html>
<html  ng-app>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='./angular.1.2.js'></script>
	<script src='./demo2.js'></script>
</head>
<body ng-controller="PhoneListCtrl">

 <div id="ctrl-exmpl" ng-controller="PhoneListCtrl">
  <label>Name: <input type="text" ng-model="name"/></label>
  <button ng-click="greet()">greet</button><br/>
  Contact:
  <ul>
    <li ng-repeat="contact in contacts">
      <select ng-model="contact.type" id="select_{{$index}}">
         <option>phone</option>
         <option>email</option>
      </select>
      <input type="text" ng-model="contact.value" aria-labelledby="select_{{$index}}" />
      <button ng-click="clearContact(contact)">clear</button>
      <button ng-click="removeContact(contact)">X</button>
    </li>
    <li>[ <button ng-click="addContact()">add</button> ]</li>
 </ul>
</div>

</body>
</html>